/*page chantier*/
/*header*/
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8D98C2;
    padding: 10px;
    border: 1vw solid #3D4E8F;
    left: 0;
    right: 0;
    top: 0;
    height: 10vw;
    padding: 0;
}
#logo {
    height: 10vw;
}
#logo2 {
    height: 10vw;
}

/*main*/
main{
    padding-top: 10vw;
}
/*paragraphe style*/
h1, h2, h3, p{
    font-family: 'Open Sans', sans-serif;
}

.entreprise {
    background-color: #3D4E8F;
    padding-right: 15%;
    color: white;
    display: block;
    height: 8vw;
    font-size: 2vw;
    margin-top: 20vw;
    margin-left: -15vw;
}

.title {
    font-size: 2vw;
    color: #3D4E8F;
    clear: both;
}
h2 {
    font-size: 3vw;
    color: #3D4E8F;
}
p {
    font-size: 2vw;
}

/*mise en page photos*/
#image1 {
    height: 50vw;
    display: block;
    border: solid 5px black;
}
.container1 {
    display: flex;
}

.container2 {
    display: block;
    /* display: flex; */
    /* flex-flow: column; */
}
#image2 {
    display: block;
    height: 30vw;
    margin-left: 40vw;
    margin-top: -30vw;
    border: solid 5px black;
}

.container3 {
    display: block;
}
#image3 {
    display: block;
    height: 20vw;
    margin-left: 60vw;
    margin-top: -20vw;
    border: solid 5px black;
}

