/*page chantier*/
/*header*/
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8D98C2;
    padding: 10px;
    border: 1vw solid #3D4E8F;
    left: 0;
    right: 0;
    top: 0;
    height: 10vw;
    padding: 0;
}
#logo {
    height: 10vw;
}
#logo2 {
    height: 10vw;
}

/*main*/
main{
    padding-top: 15vw;
}
/*paragraphe*/
h1, h2, h3, p{
    font-family: 'Open Sans', sans-serif;
}

.entreprise {
    background-color: #3D4E8F;
    padding-right: 20%;
    color: white;
    display: block;
    height: 10vw;
    font-size: 3vw;
    margin-top: 20vw;
    margin-left: -15vw;
}

.title {
    font-size: 20px;
    color: #3D4E8F;
    clear: both;
}
/*mise en page photos*/
#image1 {
    height: 60vw;
    display: block;
    
}
.container1 {
    display: flex;
}
#image2 {
    height: 40vh;
}
#image3 {
    height: 20vh;
}
